<h2>Arbres par Arrondissement</h2>
<div class="search-filter-container">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher par arrondissement"/>
    <button (click)="filterArbres()">Filtrer</button>
    <button (click)="resetFilter()" >Afficher tout</button>
</div>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Arrondissement</th>
            <th>Nombre d'Arbres</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filteredArbres">
                <td>{{ item.arrondissement }}</td>
                <td>{{ item.nombreArbres }}</td>
            </tr>
        </tbody>
    </table>
</div>
  